.header__line {
    border-bottom: 1px solid #000000;
    opacity: 0.1;
    margin-top: 0.1em;
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .header__line {
        display: none;
    }
}

