@font-face {
    font-family: 'PTRootUI_Medium';
    src: url('fonts/PTRootUI_Medium.eot');
    src: url('fonts/PTRootUI_Medium.eot') format('embedded-opentype'),
         url('fonts/PTRootUI_Medium.woff2') format('woff2'),
         url('fonts/PTRootUI_Medium.woff') format('woff'),
         url('fonts/PTRootUI_Medium.ttf') format('truetype'),
         url('fonts/PTRootUI_Medium.svg#PTRootUI_Medium') format('svg');
}
