.container-access__dex > p {
    font-family: 'PT Root UI';
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-top: 0;
    padding-top: 20px;
}

@media screen and (min-width: 720px) and (max-width: 999px) {
    .container-access__dex > p {
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .container-access__dex {
        grid-row: 3;
        grid-column: 1;
    }

    .container-access__dex > p {
        font-size: 12px;
        line-height: 17px;
    }
}