.container-access__sub {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding-top: 20px;
}

@media screen and (min-width: 1000px) {
    .container-access__sub  {
        display: none;
    }
} 

