.container-design__s10 {
    font-family: 'PT Root UI';
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.container-design__s10 > img {
    padding-left: 80px;
}

.container-design__s10 > p {
margin-top: 12px;
}

@media screen and (min-width: 720px) and (max-width: 999px) {
    .container-design__s10 {
        font-size: 14px;
    }

    .container-design__s10 > img {
        padding-left: 132px;
        padding-top: 32px;
    }
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .container-design__s10 {
        grid-column: 1;
        grid-row: 2;
    }

    .container-design__s10 > p {
        font-size: 12px;
        }

    .container-design__s10 > img {
        padding-left: 45px;
        padding-top: 22px;
        }
}